# Ignore virtual environment
venv/
env/

# Ignore compiled cache files
__pycache__/
*.pyc

# Ignore dataset or temporary files
*.npy
*.npz
*.wav
*.mp3
*.zip
*.tmp

# Ignore model files larger than 100MB (like your .h5)
cnn_lstm_deepfake_model.h5

# OS-specific junk
.DS_Store
Thumbs.db
